.container-fluid
  .row
    .col-xs-1
    .col-xs-4
      %strong
        Frauds list
      %br
      - @frauds.each do |fraud|
        %br
        .panel.panel-default
          .panel-heading
            -unless fraud.firstname.blank?
              Firstname:
              %strong
                = fraud.firstname
            -unless fraud.lastname.blank?
              Lastname:
              %strong
                = fraud.lastname
            -unless fraud.patronymic.blank?
              Patronymic:
              %strong
                = fraud.patronymic
          .panel-body
            -unless fraud.icq.blank?
              icq:
              %strong
                = fraud.icq
            %br
            -unless fraud.type.blank?
              Type:
              %strong
                = fraud.type
            %br
            -unless fraud.name.blank?
              Name:
              %strong
                = fraud.name
            %br
            -unless fraud.description.blank?
              Description:
              %strong
                = fraud.description
            -unless fraud.cards.empty?
              Card:
              %strong
                - fraud.cards.each do|card|
                  %br
                  =card.card
              %br
            -unless fraud.phones.empty?
              Phone:
              %strong
                - fraud.phones.each do|phone|
                  %br
                  =phone.phone
              %br
            -unless fraud.emails.empty?
              Email:
              %strong
                - fraud.emails.each do|email|
                  %br
                  =email.email
              %br
            -unless fraud.skypes.empty?
              Skype:
              %strong
                - fraud.skypes.each do|skype|
                  %br
                  =skype.skype
              %br
            -unless fraud.cities.empty?
              City:
              %strong
                - fraud.cities.each do|city|
                  %br
                  =city.city
              %br
            -unless fraud.regions.empty?
              Region:
              %strong
                - fraud.regions.each do|region|
                  %br
                  =region.region
    .col-xs-3
    .col-xs-4
      %strong
        Search fraud
      %br
      %br
      =search_form_for @search do |f|
        -#= f.label :firstname

        = f.label :select_type
        %br
        =f.select :type_cont, ['','частное лицо', 'фирма','покупатель']
        %br
        =f.search_field :firstname, placeholder: 'firstname'
        %br
        -#= f.label :lastname
        =f.search_field :lastname_cont, placeholder: 'lastname'
        %br
        -#= f.label :patronymic
        =f.search_field :patronymic_cont, placeholder: 'patronymic'
        %br
        -#= f.label :icq
        =f.search_field :icq_cont, placeholder: 'icq'
        %br
        -#= f.label :name
        =f.search_field :name, placeholder: 'name'
        %br
        =f.search_field :cards_card_start, placeholder: 'card'
        %br
        =f.search_field :phones_phone_start, placeholder: 'phone'
        %br
        =f.search_field :emails_email_start, placeholder: 'email'
        %br
        =f.search_field :skypes_skype_start, placeholder: 'skype'
        %br
        =f.search_field :cities_city_start, placeholder: 'city'
        %br
        =f.search_field :regions_region_start, placeholder: 'region'


        =f.submit class:"search"
