.row
  .col-md-1
  .col-md-5
    + add fraud
    %br
      %br

    =form_for @fraud do |f|
      = f.label :select_type
      - @fraud.errors.full_messages.each do |msg|
        %li= msg
      %br
      -#=f.radio_button('fraud','type','частноелицо')
      -#=f.radio_button('fraud','type' 'фирма')
      -#=f.radio_button('fraud', 'type','покупатель')
      = f.radio_button :type, 'частное лицо',checked:"checked"
      = f.label :type, 'частное лицо', value:'частное лицо'
      = f.radio_button :type, 'фирма'
      = f.label :type, 'фирма', value:'фирма'
      = f.radio_button :type, 'покупатель'
      = f.label :type, 'покупатель', value:'покупатель'
      %br
      = f.text_field :firstname, placeholder: 'firstname'
      %br
      = f.text_field :lastname, placeholder: 'lastname'
      %br
      = f.text_field :patronymic,placeholder: 'patronymic'
      %br
      = f.text_field :icq,placeholder: 'icq'
      %br
      = f.text_field :name,placeholder: 'name'
      %br
      = f.text_area :description,placeholder: 'description'
      %br
      -#= f.text_field :cards,placeholder: 'card', value: ''
      .field_card
        =f.fields_for :cards do|cards_form|
          = cards_form.text_field :card1,placeholder: 'card'
        .btn.btn-default.btn-card{:onclick => "AddFieldCard()"}+add
      .field_phone
        =f.fields_for :phones do|phones_form|
          = phones_form.text_field :phone1,  placeholder: 'phone'
        .btn.btn-default.btn-card{:onclick => "AddFieldPhone()"}+add
      .field_email
        =f.fields_for :emails do|emails_form|
          = emails_form.text_field :email1,type:"email",placeholder: 'email'
        .btn.btn-default.btn-card{:onclick => "AddFieldEmail()"}+add
      .field_skype
        =f.fields_for :skypes do|skypes_form|
          = skypes_form.text_field :skype1,placeholder: 'skype'
        .btn.btn-default.btn-card{:onclick => "AddFieldSkype()"}+add
      .field_city
        =f.fields_for :cities do|cities_form|
          = cities_form.text_field :city1,placeholder: 'city'
        .btn.btn-default.btn-card{:onclick => "AddFieldCity()"}+add
      .field_region
        =f.fields_for :regions do|regions_form|
          = regions_form.text_field :region1,placeholder: 'region'
        .btn.btn-default.btn-card{:onclick => "AddFieldRegion()"}+add
      %br
      -#=f.fields_for :descriptions do|descriptions_form|
      -#  = descriptions_form.text_erea :description1,placeholder: 'description'
      -#  %br
      =f.submit class: "btn btn-submit"